<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Despesas Cadastradas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Despesas Cadastradas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item *ngFor="let despesa of despesas">
    <ion-label>
      <ion-list *ngIf="despesas.length !== 0">
        <ion-avatar>
          <ion-item color="primary" style="border-radius: 50%">
            <img alt="task" src="../../assets/listCheck-icon.svg" />
          </ion-item>
        </ion-avatar>
        <p>Motivo: {{despesa.motivo}}</p>
        <p>Valor: {{despesa.valor | currency: "BRL"}}</p>
        <p>Tipo: {{despesa.tipo}}</p>
        <p>Data: {{despesa.data}}</p>
        <p>Desconto: {{(despesa.desconto)/100 | percent }}</p>
      </ion-list>
    </ion-label>
  </ion-item>
</ion-content>
