.content {
  display: flex;
  justify-content: center;

  &-grid {
    background-color: var(--ion-color-dark);
    width: 90%;
    border-radius: 4px;
    img {
      width: 100%;
    }
  }

  &-result {
    background-color: var(--ion-color-light);
  }
}
