<ion-header>
  <ion-toolbar>
    <ion-title>
      Buscador de Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchMovies()"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let movie of movies">
      <ion-thumbnail slot="start">
        <img [src]="movie.Poster" alt="Movie Poster">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ movie.Title }}</h2>
        <p>{{ movie.Year }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
