<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input placeholder="Digite um texto" #inputText></ion-input>
    <ion-button (click)="searchMovies(inputText)">Procurar Filmes</ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let movie of movies">
      <ion-label>{{ movie.Title }}</ion-label>
      <ion-button (click)="favorite(movie)">Favorito</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
